<footer class="footer">
    <div class="section__container footer__container">
        <div class="footer__col">
            <h3>OPEN HOTEL</h3>
            <p>
               Chào mừng bạn đến với OPEN HOTEL, nền tảng đặt phòng khách sạn tiện lợi và hiện đại dành cho mọi người!
        </div>
        <div class="footer__col">
            <h4>Hoạt động</h4>
            <p>Đặt phòng</p>
            <p>Thuê phòng</p>
            <p>Liên hệ</p>

        </div>
        <div class="footer__col">
            <h4>Chính sách</h4>
            <p>Câu hỏi</p>
            <p>Điều khoản</p>
            <p>Bảo mật</p>
        </div>
        <div class="footer__col">
            <h4>Tài nguyên</h4>
            <p>Mạng xã hội</p>
            <p>Trợ giúp</p>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="ri-twitter-fill"></i>

                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="ri-instagram-fill"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="ri-linkedin-fill"></i>

                </a>
            </div>

        </div>
    </div>
    <!-- <div class="footer__bar">
      Copyright © 2023 Web Design Mastery. All rights reserved.
    </div> -->
</footer>