<nav>
    <div class="nav__logo"><a href="/">OPEN HOTEL</a></div>
    <ul class="nav__links">
        <li class="link"><a href="/">Trang chủ</a></li>
        <li class="link"><a href="#">Đặt phòng</a></li>
        <li class="link"><a href="#">Thuê phòng</a></li>
        <li class="link"><a href="#">Thông kê</a></li>
        <li class="link"><a href="/rules">Quy định</a></li>
    </ul>
    <ul class="nav__account">


        {% if current_user.is_authenticated %}
        <div class="account">
            <p class="item link"><a href="/logout">{{ current_user.username }}</a></p>
            <span class="material-symbols-outlined">menu</span>
            <img class="img__account item" src="{{ current_user.avatar }}"
                 alt="current_user.username">

        </div>
        <div class="dropdown-menu">
            <ul>
                <li>Sign Up</li>
                <li>Login</li>
                <li>Help Center</li>
            </ul>
        </div>
        <!--        <li class="nav-item">-->
        <!--            <a class="nav-link text-success" href="/logout">Đăng xuất</a>-->
        <!--        </li>-->
        {% else %}
        <div class="account avatar-container">
            <p class="item link"><a href="/login">Dang nhap</a></p>
            <span class="material-symbols-outlined">menu</span>
            <img class="img__account item avatar-button" src="{{ url_for('static', filename='assets/client-1.jpg')}}"
                 alt="current_user.username">
            <div class="dropdown-menu">
                <ul>
                    <li>Sign Up</li>
                    <li>Login</li>
                    <li>Help Center</li>
                </ul>
            </div>

        </div>

        <!--            <li class="nav__link">-->
        <!--                <a class="nav-link text-danger" href="/login">Đăng nhập</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link text-success" href="/register">Đăng ký</a>-->
        <!--            </li>-->
        {% endif %}

    </ul>
</nav>