{% extends 'layout/base.html' %}

{% block content %}
<header class="section__container header__container">
    <div class="header__image__container" style="background-image: url({{ url_for('static', filename='assets/trangchu.png')}});">
        <div class="header__content">
            <h1>OPEN HOTEL</h1>
        </div>
        <div class="booking__container">
            <form action="{{ url_for('room_option') }}" method="GET" class="d-flex justify-content-between">
                <!-- Loại phòng -->
                <div class="form__group">
                    <div class="input__group">
                        <label>Loại phòng</label>
                    </div>
                    <select name="loai_phong" class="form-select">
                        <option value="">-- Chọn loại phòng --</option>
                        <option value="Standard">Standard</option>
                        <option value="Delux">Delux</option>
                        <option value="VIP">VIP</option>
                    </select>
                </div>

                <!-- Ngày nhận phòng -->
                <div class="form__group">
                    <div class="input__group">
                        <label>Ngày nhận phòng</label>
                    </div>
                    <input type="date" name="ngay_nhan_phong" />
                </div>

                <!-- Ngày trả phòng -->
                <div class="form__group">
                    <div class="input__group">
                        <label>Ngày trả phòng</label>
                    </div>
                    <input type="date" name="ngay_tra_phong" />
                </div>

                <!-- Nút tìm kiếm -->
                <button type="submit" class="btn"><i class="ri-search-line"></i></button>
            </form>
        </div>
    </div>
</header>

<section class="section__container popular__container">
    <h2 class="section__header">Gioi thieu khach san</h2>
    <hr>
    <div class="popular__grid">
        <div class="popular__card">
            <img src="{{ url_for('static', filename='assets/room1.png') }}" alt="popular hotel"/>
            <div class="popular__content">
                <div class="popular__card__header">
                    <h4>Crecent mall</h4>
                    <h4>499.000</h4>
                </div>
            </div>
        </div>
        <div class="popular__card">
            <img src="{{ url_for('static', filename='assets/room2.png') }}" alt="popular hotel"/>
            <div class="popular__content">
                <div class="popular__card__header">
                    <h4>Crecent mall</h4>
                    <h4>499.000</h4>
                </div>
            </div>
        </div>
        <div class="popular__card">
            <img src="{{ url_for('static', filename='assets/room3.png') }}" alt="popular hotel"/>
            <div class="popular__content">
                <div class="popular__card__header">
                    <h4>Crecent mall</h4>
                    <h4>499.000</h4>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}