{% extends 'layout/base.html' %}

{% block content %}
<style>




.snow{
    position: absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    background-size: cover;
    animation: animationSnow 4s ease-in-out infinite;
    background-image: url({{ url_for('static', filename='assets/snow.png')}});
}
@keyframes animationSnow{
    0%{
        transform: translate(0,0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(100px,50vh);
    }
}
</style>

<header class="section__container header__container">

    <div class="header__image__container" style="position: relative;background-image: url({{ url_for('static', filename='assets/header.jpg')}}); height: 600px">
        <div class="snow" style="left:100px;top: -50px; animation-duration: 2s"></div>
        <div class="snow" style="left:50px;top: 50px; animation-duration: 4s"></div>
        <div class="snow" style="left:520px;top: 200px; animation-duration: 5s"></div>
        <div class="snow" style="left:200px;top: 100px; animation-duration: 4s"></div>
        <div class="snow" style="left:1000px;top: -20px; animation-duration: 6s"></div>
        <div class="snow" style="left:910px;top: 100px; animation-duration: 3s"></div>
        <div class="snow" style="left:350px;top: 200px; animation-duration: 4s"></div>
        <div class="snow" style="left:700px;top: 300px; animation-duration: 7s"></div>
        <div class="snow" style="left:420px;top: 200px; animation-duration: 5s"></div>
        <div class="snow" style="left:250px;top: 100px; animation-duration: 3s"></div>
         <div class="snow" style="left:1250px;top: -50px; animation-duration: 5s"></div>
         <div class="snow" style="left:1400px;top: 100px; animation-duration: 4s"></div>

        <div class="header__content" style="max-width: 1000px">
            <h1 style="font-size: 130px">OPEN HOTEL</h1>
        </div>
        <div class="booking__container" style="bottom: 5rem; width: 70%; padding: 0 30px">
            <form action="{{ url_for('room_option') }}" method="GET" class="d-flex justify-content-between">
                <!-- Loại phòng -->
                <div class="form__group" style="width: 25%; margin: 10px">
                    <div class="input__group">
                        <label>Loại phòng</label>
                    </div>
                    <select name="loai_phong" class="form-select">
                        <option value="">-- Chọn loại phòng --</option>

                        {%for l in loaiPhong%}
                            <option value="{{l.tenLoaiPhong}}">{{l.tenLoaiPhong}}</option>
                        {%endfor%}
                    </select>
                </div>

                <!-- Ngày nhận phòng -->
                <div class="form__group" style="width: 25%; margin: 10px">
                    <div class="input__group">
                        <label>Nhận phòng</label>
                    </div>
                    <input type="date" name="ngay_nhan_phong"/>
                </div>

                <!-- Ngày trả phòng -->
                <div class="form__group" style="width: 25% ; margin: 10px">
                    <div class="input__group">
                        <label>Trả phòng</label>
                    </div>
                    <input type="date" name="ngay_tra_phong" />
                </div>

                <!-- Nút tìm kiếm -->
                <div >
                    <button type="submit" style="" class="btn"><i class="ri-search-line" ></i></button>
                </div>

            </form>
        </div>
    </div>
</header>

<section class="section__container popular__container">
    <h2 class="section__header">Gioi thieu khach san</h2>
    <hr>
    <div class="popular__grid">
        {%for l in loaiPhong%}
        <div class="popular__card">

            <img src="{{url_for('static', filename=l.hinhAnh)}}" alt="popular hotel"/>
            <div class="popular__content">
                <div class="popular__card__header">
                    <h4>{{l.tenLoaiPhong}}</h4>
                    <h4>{{ "{:,.0f}".format(l.giaPhong) }} NVĐ</h4>
                </div>
            </div>
        </div>
        {%endfor%}



    </div>
</section>
<script>
    let container = document.getElementById('container');
let count = 50;
for(var i = 0; i<50; i++){
    let leftSnow = Math.floor(Math.random() * container.clientWidth);
    let topSnow = Math.floor(Math.random() * container.clientHeight);
    let widthSnow = Math.floor(Math.random() * 50);
    let timeSnow = Math.floor((Math.random() * 5) + 5);
    let blurSnow = Math.floor(Math.random() * 10);
    console.log(leftSnow);
    let div = document.createElement('div');
    div.classList.add('snow');
    div.style.left = leftSnow + 'px';
    div.style.top = topSnow + 'px';
    div.style.width = widthSnow + 'px';
    div.style.height = widthSnow + 'px';
    div.style.animationDuration = timeSnow + 's';
    div.style.filter = "blur(" + blurSnow + "px)";
    container.appendChild(div);
}
</script>
{% endblock %}