{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h1>Quy Định Khách Sạn</h1>
    <div class="section">
        <h2>Đặt Phòng Khách Sạn</h2>
        <ul>
            <li>Thời gian nhận phòng tối đa: <span class="highlight">{{rules["dat_phong_khach_san"]["thoi_gian_nhan_phong_toi_da"]}} ngày</span>
            </li>
        </ul>
    </div>
    <div class="section">
        <h2>Sức Chứa Phòng</h2>
        <ul>
            <li>Số khách tối đa mỗi phòng: <span
                    class="highlight">{{rules["suc_chua_phong"]["so_khach_toi_da"]}} khách</span></li>
        </ul>
    </div>
    <div class="section">
        <h2>Giá Phòng</h2>
        <ul>
            <li>Số khách cơ bản: <span class="highlight">{{rules["gia_phong"]["so_khach_co_ban"]}} khách</span></li>
            <li>Phụ phí khách thêm: <span class="highlight">{{rules["gia_phong"]["phu_phi_khach_them"]}} %</span></li>
            <li>Hệ số khách nước ngoài: <span class="highlight">{{rules["gia_phong"]["he_so_khach_nuoc_ngoai"]}}</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}