{% extends 'layout/base.html' %}

{% block content %}
<div class="rules">
    <h1>Điều khoản và quy định Khách sạn</h1>

<h2>Quy định về đặt phòng khách sạn</h2>
<p>Khách hàng nhận phòng không quá 28 ngày kể từ thời điểm đặt phòng.</p>

<h2>Quy định về sức chứa của mỗi phòng</h2>
<p>Mỗi phòng có tối đa 03 khách.</p>

<h2>Quy định đơn giá phòng</h2>
<p>Đơn giá phòng dành cho 02 khách, nếu có khách thứ 3 phụ thu thêm 25%. Nếu phòng có khách nước ngoài thì nhân hệ số
    1.5.</p>
</div>
{% endblock %}