{% extends 'admin/base.html'%}

{% block body%}
<form method="POST" action="/admin/register-admin">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="name" placeholder="Họ tên" name="name" />
        <label for="name">Họ tên</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" />
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="CCCD" placeholder="CCCD" name="CCCD" />
        <label for="CCCD">Căn cước công dân</label>
    </div>
    <div class="form-group">
    <label>Loại Khách Hàng:</label>
    <div>
        <input type="radio" id="noiDia" name="loaiKhach" value="1" required>
        <label for="noiDia">Nội địa</label>
    </div>
    <div>
        <input type="radio" id="nuocNgoai" name="loaiKhach" value="2">
        <label for="nuocNgoai">Nước ngoài</label>
    </div>
</div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="diaChi" placeholder="diaChi" name="diaChi" />
        <label for="diaChi">Địa chỉ</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" />
        <label for="password">Mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm" />
        <label for="confirm">Xác nhận mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="file" class="form-control" id="avatar" name="avatar" />
        <label for="confirm">Ảnh đại diện</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-info">Đăng ký</button>
    </div>
</form>

{% endblock %}